body {
  margin: 0;
  padding: 0;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE);
}

.center {
  display: flex;
  justify-content: center;
}

.background {
  position: fixed;
  z-index: -1;
}